/* @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");
body {
  background-color: rgb(51, 50, 48);
  font-family: "IBM Plex Mono", monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  padding: 3px 10px;
  color: white;
  border: 4px solid white;
}

h4 {
  text-align: center;
  margin-top: 0px;
  font-size: 1.5rem;
  color: white;
}

span {
  color: white;
}

.icon {
  width: 85%;
  height: 85%;
}

.icon-timer {
  height: 70%;
  width: 70%;
}

.interval-container {
  display: flex;
  margin: 0 20px;
  align-items: center;
  height: 3vh;
}

.interval-lenght-container {
  display: flex;
}

button {
  border: 2px solid white !important;
  height: 30px;
  margin: 0 12px;
  padding: 0px 7px;

  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 70px;
  text-align: center;
}

.button-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-break {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  background-color: grey;
  box-shadow: 2px 2px black;
}

.interval-length {
  font-size: 2rem;
  color: white;
}

.timer-container {
  border: 2px solid white;
  margin-top: 40px;
  width: 250px;
  text-align: center;
  padding: 10px 0px;
  margin: 40px auto;
}

.timer {
  font-size: 3rem;
}

.timer-actions {
  display: flex;
  margin-top: 20px;
  text-align: center;
}*/
